/* GLOBAL */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Secular One", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

body {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.925),
      rgba(255, 255, 255, 0.925)
    ),
    url("./images/bgimg-2.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

/* Navbar */

.navbar-sections {
  color: white;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("./images/home/temp.jpg");
  min-height: 100%;
  animation: load-header-image 2s;
}

@keyframes load-header-image {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Contact Page Images */
#air-map {
  content: url("./images/contacts/air-img.png");
  height: 500px;
}

#door-map {
  content: url("./images/contacts/door.png");
  height: 500px;
}

/* Slideshow Images */
/* .mySlides {
  display: none;
} */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.ritaSlides,
.mafaldaSlides {
  display: none;
}

/* Next & previous buttons */
.ritaPrev,
.ritaNext,
.mafaldaPrev,
.mafaldaNext {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.ritaNext,
.mafaldaNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.ritaPrev:hover,
.mafaldaPrev:hover,
.ritaNext:hover,
.mafaldaNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
